In [1]:
import pandas as pd

dadosPerson = pd.read_csv('Person.Person.csv', on_bad_lines='skip', sep=';')

dadosPerson.fillna("(não indentificado)", inplace=True)
dadosPerson.rename(columns={'rowguid': 'Rowguid'}, inplace=True)

In [2]:
dadosPerson

,BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,Rowguid,ModifiedDate
0,1,EM,0,(não indentificado),Ken,J,Sánchez,(não indentificado),0,(não indentificado),"<IndividualSurvey xmlns=""http://schemas.micros...",92C4279F-1207-48A3-8448-4636514EB7E2,2009-01-07 00:00:00.000
1,2,EM,0,(não indentificado),Terri,Lee,Duffy,(não indentificado),1,(não indentificado),"<IndividualSurvey xmlns=""http://schemas.micros...",D8763459-8AA8-47CC-AFF7-C9079AF79033,2008-01-24 00:00:00.000
2,3,EM,0,(não indentificado),Roberto,(não indentificado),Tamburello,(não indentificado),0,(não indentificado),"<IndividualSurvey xmlns=""http://schemas.micros...",E1A2555E-0828-434B-A33B-6F38136A37DE,2007-11-04 00:00:00.000
3,4,EM,0,(não indentificado),Rob,(não indentificado),Walters,(não indentificado),0,(não indentificado),"<IndividualSurvey xmlns=""http://schemas.micros...",F2D7CE06-38B3-4357-805B-F4B6B71C01FF,2007-11-28 00:00:00.000
4,5,EM,0,Ms.,Gail,A,Erickson,(não indentificado),0,(não indentificado),"<IndividualSurvey xmlns=""http://schemas.micros...",F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF,2007-12-30 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19967,20773,IN,0,(não indentificado),Crystal,(não indentificado),Guo,(não indentificado),0,(não indentificado),"<IndividualSurvey xmlns=""http://schemas.micros...",D0A499A2-C258-43E9-AB06-F61543A71134,2014-03-19 00:00:00.000
19968,20774,IN,0,(não indentificado),Isabella,F,Richardson,(não indentificado),2,(não indentificado),"<IndividualSurvey xmlns=""http://schemas.micros...",A4F7F248-82F3-43D5-B5A3-8BD1CB610254,2013-07-29 00:00:00.000
19969,20775,IN,0,(não indentificado),Crystal,S,He,(não indentificado),0,(não indentificado),"<IndividualSurvey xmlns=""http://schemas.micros...",CD0B82D0-3409-4497-A65F-A68E75EE26CB,2014-03-12 00:00:00.000
19970,20776,IN,0,(não indentificado),Crystal,(não indentificado),Zheng,(não indentificado),1,(não indentificado),"<IndividualSurvey xmlns=""http://schemas.micros...",386E35E8-97B3-43E4-9B5F-9594C2FF5CEA,2014-01-14 00:00:00.000
19971,20777,IN,0,(não indentificado),Crystal,(não indentificado),Hu,(não indentificado),0,(não indentificado),"<IndividualSurvey xmlns=""http://schemas.micros...",1773C8F3-2CC7-4826-A7F5-30D3F36543CD,2013-10-16 00:00:00.000

In [15]:
dadosProduction = pd.read_csv('Production.Product.csv', on_bad_lines='skip', sep=';')
dadosProduction


dadosProduction.fillna("(não indentificado)", inplace=True)
dadosProduction.rename(columns={'rowguid': 'Rowguid'}, inplace=True)
dadosProduction

C:\Users\leand\AppData\Local\Temp\ipykernel_7764\3714453317.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '(não indentificado)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dadosProduction.fillna("(não indentificado)", inplace=True)

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,Rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,(não indentificado),1000,750,"0,00","0,00",...,(não indentificado),(não indentificado),(não indentificado),(não indentificado),(não indentificado),2008-04-30 00:00:00.000,(não indentificado),(não indentificado),694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,0,0,(não indentificado),1000,750,"0,00","0,00",...,(não indentificado),(não indentificado),(não indentificado),(não indentificado),(não indentificado),2008-04-30 00:00:00.000,(não indentificado),(não indentificado),58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,1,0,(não indentificado),800,600,"0,00","0,00",...,(não indentificado),(não indentificado),(não indentificado),(não indentificado),(não indentificado),2008-04-30 00:00:00.000,(não indentificado),(não indentificado),9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,0,0,(não indentificado),800,600,"0,00","0,00",...,(não indentificado),(não indentificado),(não indentificado),(não indentificado),(não indentificado),2008-04-30 00:00:00.000,(não indentificado),(não indentificado),ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,1,0,(não indentificado),800,600,"0,00","0,00",...,(não indentificado),(não indentificado),(não indentificado),(não indentificado),(não indentificado),2008-04-30 00:00:00.000,(não indentificado),(não indentificado),E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,995,ML Bottom Bracket,BB-8107,1,1,(não indentificado),500,375,"44,9506","101,24",...,(não indentificado),M,(não indentificado),5.0,96.0,2013-05-30 00:00:00.000,(não indentificado),(não indentificado),71AB847F-D091-42D6-B735-7B0C2D82FC84,2014-02-08 10:01:36.827
500,996,HL Bottom Bracket,BB-9108,1,1,(não indentificado),500,375,"53,9416","121,49",...,(não indentificado),H,(não indentificado),5.0,97.0,2013-05-30 00:00:00.000,(não indentificado),(não indentificado),230C47C5-08B2-4CE3-B706-69C0BDD62965,2014-02-08 10:01:36.827
501,997,"Road-750 Black, 44",BK-R19B-44,1,1,Black,100,75,"343,6496","539,99",...,R,L,U,2.0,31.0,2013-05-30 00:00:00.000,(não indentificado),(não indentificado),44CE4802-409F-43AB-9B27-CA53421805BE,2014-02-08 10:01:36.827
502,998,"Road-750 Black, 48",BK-R19B-48,1,1,Black,100,75,"343,6496","539,99",...,R,L,U,2.0,31.0,2013-05-30 00:00:00.000,(não indentificado),(não indentificado),3DE9A212-1D49-40B6-B10A-F564D981DBDE,2014-02-08 10:01:36.827
503,999,"Road-750 Black, 52",BK-R19B-52,1,1,Black,100,75,"343,6496","539,99",...,R,L,U,2.0,31.0,2013-05-30 00:00:00.000,(não indentificado),(não indentificado),AE638923-2B67-4679-B90E-ABBAB17DCA31,2014-02-08 10:01:36.827

In [16]:
dadosDetail = pd.read_csv('Sales.SalesOrderDetail.csv', on_bad_lines='skip', sep=';')
dadosDetail


dadosDetail.fillna("(não indentificado)", inplace=True)
dadosDetail.rename(columns={'rowguid': 'Rowguid'}, inplace=True)
dadosDetail

,SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,Rowguid,ModifiedDate
0,43659,1,4911-403C-98,1,776,1,"2024,994","0,00",2024.994,B207C96D-D9E6-402B-8470-2CC176C42283,2011-05-31 00:00:00.000
1,43659,2,4911-403C-98,3,777,1,"2024,994","0,00",6074.982,7ABB600D-1E77-41BE-9FE5-B9142CFC08FA,2011-05-31 00:00:00.000
2,43659,3,4911-403C-98,1,778,1,"2024,994","0,00",2024.994,475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F,2011-05-31 00:00:00.000
3,43659,4,4911-403C-98,1,771,1,"2039,994","0,00",2039.994,04C4DE91-5815-45D6-8670-F462719FBCE3,2011-05-31 00:00:00.000
4,43659,5,4911-403C-98,1,772,1,"2039,994","0,00",2039.994,5A74C7D2-E641-438E-A7AC-37BF23280301,2011-05-31 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...
121312,75122,121313,(não indentificado),1,878,1,"21,98","0,00",21.980,8CAD6675-18CC-4F47-8287-97B41A8EE47D,2014-06-30 00:00:00.000
121313,75122,121314,(não indentificado),1,712,1,"8,99","0,00",8.990,84F1C363-1C50-4442-BE16-541C59B6E12C,2014-06-30 00:00:00.000
121314,75123,121315,(não indentificado),1,878,1,"21,98","0,00",21.980,C18B6476-429F-4BB1-828E-2BE5F82A0A51,2014-06-30 00:00:00.000
121315,75123,121316,(não indentificado),1,879,1,"159,00","0,00",159.000,75A89C6A-C60A-47EA-8A52-B52A9C435B64,2014-06-30 00:00:00.000
121316,75123,121317,(não indentificado),1,712,1,"8,99","0,00",8.990,73646D26-0461-450D-8019-2C6C858619CA,2014-06-30 00:00:00.000

In [17]:
dadosHeader = pd.read_csv('Sales.SalesOrderHeader.csv', on_bad_lines='skip', sep=';')
dadosHeader


dadosHeader.fillna("(não indentificado)", inplace=True)
dadosHeader.rename(columns={'rowguid': 'Rowguid'}, inplace=True)
dadosHeader

C:\Users\leand\AppData\Local\Temp\ipykernel_7764\575520220.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '(não indentificado)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dadosHeader.fillna("(não indentificado)", inplace=True)

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,Rowguid,ModifiedDate
0,43659,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43659,PO522145787,10-4020-000676,...,16281.0,105041Vi84182,(não indentificado),"20565,6206","1971,5149","616,0984","23153,2339",(não indentificado),79B65321-39CA-4115-9CBA-8FE0903E12E6,2011-06-07 00:00:00.000
1,43660,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43660,PO18850127500,10-4020-000117,...,5618.0,115213Vi29411,(não indentificado),"1294,2529","124,2483","38,8276","1457,3288",(não indentificado),738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07 00:00:00.000
2,43661,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43661,PO18473189620,10-4020-000442,...,1346.0,85274Vi6854,4.0,"32726,4786","3153,7696","985,553","36865,8012",(não indentificado),D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07 00:00:00.000
3,43662,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43662,PO18444174044,10-4020-000227,...,10456.0,125295Vi53935,4.0,"28832,5289","2775,1646","867,2389","32474,9324",(não indentificado),4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07 00:00:00.000
4,43663,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43663,PO18009186470,10-4020-000510,...,4322.0,45303Vi22691,(não indentificado),"419,4589","40,2681","12,5838","472,3108",(não indentificado),9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31460,75119,8,2014-06-30 00:00:00.000,2014-07-12 00:00:00.000,2014-07-07 00:00:00.000,5,1,SO75119,(não indentificado),10-4030-011981,...,6761.0,429826Vi35166,(não indentificado),"42,28","3,3824","1,057","46,7194",(não indentificado),9382F1C9-383A-435F-9449-0EECEA21B78D,2014-07-07 00:00:00.000
31461,75120,8,2014-06-30 00:00:00.000,2014-07-12 00:00:00.000,2014-07-07 00:00:00.000,5,1,SO75120,(não indentificado),10-4030-018749,...,8925.0,929849Vi46003,(não indentificado),"84,96","6,7968","2,124","93,8808",(não indentificado),AE6A4FCF-FF73-4CD4-AF2C-5993D00D4AFE,2014-07-07 00:00:00.000
31462,75121,8,2014-06-30 00:00:00.000,2014-07-12 00:00:00.000,2014-07-07 00:00:00.000,5,1,SO75121,(não indentificado),10-4030-015251,...,14220.0,529864Vi73738,(não indentificado),"74,98","5,9984","1,8745","82,8529",(não indentificado),D7395C0E-00CB-4BFA-A238-0D6A9F49884F,2014-07-07 00:00:00.000
31463,75122,8,2014-06-30 00:00:00.000,2014-07-12 00:00:00.000,2014-07-07 00:00:00.000,5,1,SO75122,(não indentificado),10-4030-015868,...,18719.0,330022Vi97312,(não indentificado),"30,97","2,4776","0,7743","34,2219",(não indentificado),4221035A-4159-492F-AF40-4363A64FFC16,2014-07-07 00:00:00.000
31464,75123,8,2014-06-30 00:00:00.000,2014-07-12 00:00:00.000,2014-07-07 00:00:00.000,5,1,SO75123,(não indentificado),10-4030-018759,...,10084.0,230370Vi51970,(não indentificado),"189,97","15,1976","4,7493","209,9169",(não indentificado),D54752FF-2B54-4BE5-95EA-3B72289C059F,2014-07-07 00:00:00.000

In [18]:
dadosSpecial = pd.read_csv('Sales.SpecialOfferProduct.csv', on_bad_lines='skip', sep=';')
dadosSpecial



dadosSpecial.rename(columns={'rowguid': 'Rowguid'}, inplace=True)
dadosSpecial

,SpecialOfferID,ProductID,Rowguid,ModifiedDate
0,1,680,BB30B868-D86C-4557-8DB2-4B2D0A83A0FB,2011-04-01 00:00:00.000
1,1,706,B3C9A4B1-2AE6-4CBA-B552-1F206C9F4C1F,2011-04-01 00:00:00.000
2,1,707,27B711FE-0B77-4EA4-AD1A-7C239956BEF4,2011-04-01 00:00:00.000
3,1,708,46CBB78B-246E-4D69-9BD6-E521277C1078,2011-04-01 00:00:00.000
4,1,709,CF102AA0-055F-4D2B-8B98-04B161758EA8,2011-04-01 00:00:00.000
...,...,...,...,...
533,16,984,52DD0F65-0EA9-4848-9884-7594BA953274,2014-03-01 00:00:00.000
534,16,985,C8127A82-05C3-42FD-A5C6-215D58A236BD,2014-03-01 00:00:00.000
535,16,986,C60FB28D-2431-481C-985E-3FEA8119D705,2014-03-01 00:00:00.000
536,16,987,BEBD6F20-D6C2-4511-8C97-1F53B2099D1F,2014-03-01 00:00:00.000
537,16,988,2981C98B-A18F-4153-A6A2-EC453CB130CE,2014-03-01 00:00:00.000